/*Contains the code for GUI formatting of the ATVM function
//Programmer: Mustafa Mohsin
//Date Coded: July 28, 2020
//Date Approved: Aug 3, 2020
//Approved by: All group members
//Arguments: the arguments are specific to each container, button etc. and have exact values to make the calculator GUI be consistent across any device
//Variables: all variables are extended from the HTML file and are stylised in the CSS file
//Files accessed: index.html
//Files Changed: None
//Input/output: Changes the style of Index.html variables
//Error handling: Backup fonts initialized if browser does not support the initial fonts.
//List of previous modifications and who approved:
1.Changing basic colours - Approved by all
2.Modifying size - Approved by all
3.Modifying text colour - Approved by all
4.Adding more styles to the GUI - Approved by all
//Any known faults: None*/


body {
  background: #f3f3f3;
}
.container {
  height: 100vh;
  position: relative;
}
.calculate-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#loading,
#result {
  display: none;
}
@media (max-width: 750px) {
  #loading img {
    width: 100%;
  }
}